<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <%- include('../utils/link.ejs')%>
</head>

<body>
  <div class="center">
    <div class="w-1080">
      <%- include ('../partials/header') %>
      <div class="season-info">
        <h2 class="name-season">Create New Season</h2>
        <form action="/create-season" method="POST">
          <label for="seasonName">Name of Season:</label>
          <input type="text" id="seasonName" name="seasonName" required>
          <label for="yearBegin">Year Begin:</label>
          <input type="number" id="yearBegin" name="yearBegin" required>
          <label for="yearEnd">Year End:</label>
          <input type="number" id="yearEnd" name="yearEnd" required>
          <button type="button" class="CreateSeason" onclick="createSeason()">Create Season</button>
          <button type="button" class="addTeam" onclick="showModalListTeam()">Thêm Team</button>
        </form>
        <div class="modalListTeam">
          <form  class = "addListTeam" >
            <button type="button" class="addTeam" onclick="showModal()">New Team</button>
            <ul class="teamListModal">
            </ul>
            <button type="button" class="addTeam" onclick="hideModalListTeam()">Back</button>
          </form>
        </div>

        <div class="modalAddNewTeam">
        <form  class = "addnewteam" >
          <label for="teamName" class="labelAddNewTeam">Tên đội bóng:</label>
          <input type="text" id="teamName" name="teamName" class="CreateTeam"required>
          <br>
          <label for="nameArena"class="labelAddNewTeam">Tên sân:</label>
          <input type="text" id="nameArena" name="nameArena"class="CreateTeam" required>
          <br>
          <label for="logo"class="labelAddNewTeam">Logo đội bóng (URL):</label>
          <input type="url" id="logo" name="logo"class="CreateTeam" required>
          <br>
          <label for="imgArena"class="labelAddNewTeam">Hình ảnh sân (URL):</label>
          <input type="url" id="imgArena" name="imgArena" class="CreateTeam"required>
          <br>
          <label for="description"class="labelAddNewTeam">Mô tả:</label>
          <br>
          <textarea id="description" name="description"class="CreateTeam" rows="4"></textarea>
          <br>
          <button type="button" onclick="hideModal()">Back</button>
          <button class="buttonAddTeam" onclick="createTeam()">Thêm</button>
        </form>
        </div>
      </div>
      <div id="teamFormContainer"></div>
      <!-- Hiển thị danh sách đội bóng -->
      <div class="team-list">
        <h3></h3>
        <ul class="team-list-ul">
          <% data.teams.forEach(function(team) { %>
          <li class="team-list-li">
            <img src="<%= team.logo %>" alt="<%= team.name %> Logo">
            <span><%= team.name %></span>
            <button class="delete-button" data-team-id="<%= team.id %>" onclick="deleteListItem(this)">Xóa</button>
          </li>
          <% }); %>
        </ul>
      </div>
    </div>
  </div>
  <script src="/script/newSeason.js"></script>
</body>
</html>