<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <%- include('../utils/link.ejs')%>
</head>

<body>
  <div class="center">
    <div class="w-1080">
      <%- include ('../partials/header') %>
      <div class="content">
        <div id="list" data="<%=JSON.stringify(data)%>"></div>
        <div class="teams_search_containt">
          <input class="teams_search" type="text" id="searchInput" placeholder="Enter name" onkeyup="sendData(this)">
          <div class="teams_search_box--icon">
            <img class="teams_search--icon" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAotJREFUSEvllkuojVEYhp8j15QYUMdlJPeQg+QeEykDI7coIU5kgIGYGaEwMCARQ7klBgwkJXIXEkXuuU9IIUm+N99/Wv69//N/HXt3BtZk7/b+3vdda32XdzXQTquhnXSJCHcEJgJDgV7AI+A68OZfNt2acD9gM7AY6FFF5CqwEzjelg0UCS8CDgDdAqRngfnAl0BsS0g14eUuqqBfwGHgNHAHeGffm4DJwCpggDPdBKYB36LieeHRwG2gA/ABmAPcKCDrChwEFvr/ew2zuq3CZ4DZDp4KXCohUuEpZgLw025nCPA0Ip6euA/w3kH7rWpXRgiAMX5LClcxbo3gUuEFnk/hJgFXIgQecx8YAVwAZkZwqfB6bw/hugNfIwQeow5QUb4F+kZwqfBGYJuDuti1/YgQeIxwwn8GekZwqfBS4JCDBgOPIwQecwSY5+lRmkpXKjwKuOuINcCeUvSfgE5elBqn+6zXmyO4fB+/suHR3/KlT536e4BkA7DD48JFmRdeC+x2El37shLhscBlayHVxDG/7sBeqXCnzj4Qxjv6lBXMOuBZjk1CK2yWb/cO0PAYBDwPqVIpLFxv4DwwMiFRn97zXI4DtDGNTC3NZ+X5hPFtMcN4GBEvcie50i4/lcZi0dKGlpgzKc+yTy2ZyibgRWsbKHsIyH1EOMuLTb6sh8A54Chwy8mHWX4fJEJ6JMitnhSJlwlHbi2LOWnWOTcBaIPT3UoreGoprPaTU6lGsqW2nGLd8TKvXEthcSs1MoqBiZCue4bPhpafay2ciV+zKdaYiL92+/yY/VYPYXGrpzVYsmuXR8ur63rijHy4efNFfxjoNfrXqteJMxFZ5KdqrVFv4cJ2/P+EfwPso2Yfp6I9kgAAAABJRU5ErkJggg==" />
          </div>
        </div>
        <section id="search-results">

        </section>
        <li class="season-item">
          <span class="season-header">Name</span>
          <span class="season-header">Start Year</span>
          <span class="season-header">End Year</span>
          <span class="season-span"></span>
          <a href="/api/v1/season/newSeason/<%= data[0]._id %>" class="season-detail-btn">New
            Season</a>
        </li>
        <ul class="season-list">
          <% data.forEach(function(season) { %>
          <li data-season-id="<%= season._id %>" class="season-item">
            <span class="season-name">
              <%= season.name %>
            </span>
            <span class="season-year" id="begin">
              <%= season.yearStart %>
            </span>
            <span class="season-year" id="end">
              <%= season.yearEnd %>
            </span>
            <button onclick='makeEditable(this.parentElement)' id="buttonEdit" class="season-detail-btn">Sửa</button>
            <button onclick='saveChanges(this.parentElement)' id="buttonSave" class="season-detail-btn" style="display: none; margin-right: 115px;">Lưu</button>
            <a href="/api/v1/season/<%= season._id %>" id="buttonchitiet" class="season-detail-btn">Chi tiết</a>
          </li>
          <% }); %>
        </ul>
      </div>
    </div>
  </div>
  </div>
  <script>
    function makeEditable(element) {
    const seasonName = element.querySelector('.season-name');
      const seasonYearbegin = element.querySelector('#begin');
      const seasonYearend = element.querySelector('#end');
      const editBtn = element.querySelector('#buttonEdit');
      const saveBtn = element.querySelector('#buttonSave');
      const chitietBtn = element.querySelector('#buttonchitiet');
      seasonName.contentEditable = 'true';
      seasonYearbegin.contentEditable = 'true';
      seasonYearend.contentEditable = 'true';
      // Cho phép chỉnh sửa
      editBtn.style.display = 'none'; // Ẩn nút "Sửa"
      chitietBtn.style.display = 'none'; //
      saveBtn.style.display = 'inline-block'; // Hiển thị nút "Lưu"
    }

    function saveChanges(element) {
      const seasonId = element.getAttribute('data-season-id');
      const seasonName = element.querySelector('.season-name');
      const seasonYearbegin = element.querySelector('#begin');
      const seasonYearend = element.querySelector('#end');
      const editBtn = element.querySelector('#buttonEdit');
      const saveBtn = element.querySelector('#buttonSave');
      const chitietBtn = element.querySelector('#buttonchitiet');
      const updatedYearbegin = parseInt(seasonYearbegin.textContent);
      const updatedYearend = parseInt(seasonYearend.textContent);
      const updateName = seasonName.textContent;
      if (updatedYearbegin < updatedYearend) {
        // Nếu seasonYearbegin < seasonYearend, thực hiện lưu thay đổi
        seasonName.contentEditable = 'false';
        seasonYearbegin.contentEditable = 'false';
        seasonYearend.contentEditable = 'false';
        editBtn.style.display = 'inline-block';
        saveBtn.style.display = 'none';
        chitietBtn.style.display = 'inline-block';
        console.log(seasonId,updateName,  updatedYearbegin, updatedYearend);
        // Lưu thay đổi vào cơ sở dữ liệu hoặc thực hiện các tác vụ khác
        // Gửi dữ liệu lên server để lưu thay đổi
        fetch(`/api/v1/season/${seasonId}`, {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                name: updateName,
                yearStart: updatedYearbegin,
                yearEnd: updatedYearend,
            }),
        })
        .then(response => {
            if (response.status === 201) {
                console.log('Lưu thành công!');
            } else {
                console.error('Lỗi khi thay đổi:', response.statusText);
            }
        })
        .catch(error => {
            console.error('Lỗi khi lưu thay đổi:', error.message);
        });
      } else {
        // Nếu seasonYearbegin >= seasonYearend, báo lỗi
        alert('Năm bắt đầu phải nhỏ hơn năm kết thúc.');
      }
    }
    function sendData(input) {
      const searchResult = document.getElementById('search-results');
      let match = input.value.match(/^[a-zA-Z ]*/);
      let match2 = input.value.match(/\s*/);
      if (match2[0] === input.value) {
        searchResult.innerHTML = '';
        return;
      }
      if (match[0] === input.value) {


        fetch('/api/v1/season/getName', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({
            name: input.value
          })
        }).then(res => res.json()).then(data => {
          const seasonList = document.querySelector('.season-list'); // Get the <ul> element
          seasonList.innerHTML = ''; // Clear existing content

          if (data.name.length < 1) {
            // Handle case when no results are found
            seasonList.innerHTML = '<p>Không tìm thấy</p>';
            return;
          }

          data.name.forEach((element, index) => {
            // Create a new <li> element for each season
            const li = document.createElement('li');
            li.classList.add('season-item');
            li.setAttribute('data-season-id', element._id);
            // Populate the <li> with season details
            li.innerHTML = `
                            <span class="season-name">${element.name}</span>
                            <span class="season-year" id="begin">${element.yearStart}</span>
                            <span class="season-year" id="end">${element.yearEnd}</span>
                            <button onclick='makeEditable(this.parentElement)' id="buttonEdit" class="season-detail-btn">Sửa</button>
                            <button onclick='saveChanges(this.parentElement)' id="buttonSave" class="season-detail-btn" style="display: none; margin-right: 115px;">Lưu</button>
                            <a href="/api/v1/season/${element._id}" class="season-detail-btn" id="buttonchitiet" >Chi tiết</a>`;
            // Append the <li> to the <ul>
            seasonList.appendChild(li);
          });
        });
        return;
      }
      searchResult.innerHTML = '';
    }
  </script>
</body>

</html>